h2{
  border: 2px solid white;
  font-family: 'Gaegu', cursive;
}
h3{
  border: 2px solid white;
  font-family: 'Gaegu', cursive;
}

.footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: white;
    color: yellow;
    text-align: center;
}
