body{
    background-color: rgb(245, 255, 102);
  }
h1{
    color: rgb(138, 131, 99);
    font-family: sans-serif
  }
h2{
    color: rgb(138, 131, 99);
  }
h3{
    color: rgb(138, 131, 99);
  }

  p.solid {border-style: solid;}
  p.groove {border-style: groove;}

  #rcorners2 {
    border-radius: 25px;
    border: 5px solid #8A8363;
    padding: 20px;
    width: 700px;
    height: 300px;
  }
  #rcorners1 {
    border-radius: 25px;
    border: 5px solid #8A8363;
    padding: 20px;
    width: 700px;
    height: 320px;
  }
