<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
      <link rel="stylesheet" href="../assets/footer.css">
      <link href="https://fonts.googleapis.com/css?family=Gaegu" rel="stylesheet">
  </head>
  <body>
    <div>
      <H3> Sign up for email updates to always keep up with what we post </H3>
    </div>
    <form id="form" onsubmit="return false;">
<input   style=position:absolute;top:80%;left:5%;width:40%; type="text" id="userInput">
<input   style=position:absolute;top:50%;left:5%;width:40%; type="submit"    onclick="name()">
</form>
  <div>
    <H2> Concerns? Contact Us! </H2>
  </div>



  </body>
</html>
