<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|PT+Sans" rel="stylesheet">
    <meta charset="utf-8">
    <link rel="stylesheet" href="../assets/stylesheet.css">
    <link rel="stylesheet" href="../assets/homepage.css">
    <link rel="form" href="../assets/form.css">
    <link rel="javascript" href="javascript.js">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title> Survivin' </title>
  </head>
  <body>
    <header>
      <div id="logo">
      <img src="logo-preview-01ef3897-0342-42ce-bc73-5a893cde4368.jpg" height="90" width="90">
      </div>
      <center><h1> Survivin' </h1></center>
        <div class="button" style="width:100%">
        <button style="width:10%">LOG IN  SIGN UP </button>
        </div>


      <nav> <center>
        <div class="btn-group" style="width:100%">
        <button style="width:17%"> Home </button>
        <button style="width:17%"> Our Mission </button>
        <button style="width:17%"> Resources </button>
        <button style="width:17%"> Situations </button>
        </div>
        </center>

    </nav>
  <!-- make a search bar -->
  <!-- make a log in / sign up thing -->
    </header>


      <!-- import footer from alexis on github -->

  </body>
</html>
