<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../assets/stylesheet.css">
    <link rel="stylesheet" href="../assets/homepage.css">
    <title>US HOTLINES</title>
    <style>
#rcorners2 {
    border-radius: 25px;
    border: 5px solid #8A8363;
    padding: 20px;
    width: 700px;
    height: 900px;
}
  
    </style>
  </head>
  <body>
    <header>
      <div id="logo">
      <img src="../assets/logo.png" height="90" width="90">
      </div>
      <center><h1> Survivin' </h1></center>
        <div class="button" style="width:100%">
        <button style="width:10%">LOG IN  SIGN UP </button>
        </div>


      <nav> <center>
        <div class="btn-group" style="width:100%">
        <button style="width:17%" onclick="location.href='mainpage.html'" type="button"> Home </button>
        <button style="width:17%" onclick="location.href='aboutus.html'" type="button"> Our Mission </button>
        <button style="width:17%" onclick="location.href='resources.html'" type="button"> Resources </button>
        <button style="width:17%" onclick="location.href='situations.html'" type="button"> Situations </button>
        </div>
        </center>

    </nav>

    </header>
    <h1 style="text-align: center;"><font size="22"> Survivin' </h1>
      <h2 style="text-align: center;"><font size="15"> ! US HOTLINES ! <h2>
        <center><p id="rcorners2"><font size="10"> Samaritians(any problem): 08457909090 e-mail jo@samaritians.org <br>
          Childline: 08001111 <br>
          Mind Infoline(Mental Health Info): 0300-123-3393 e-mail:info@mind.org.uk <br>
          Mind Legal Advice(Mental Health Related Legal Advice): 0300-466-6463 legal@mind.org.uk <br>
          Eating Disorder Support: 0845-634-14-14(open Mon-Fri 10:30am-8:30pm and Saturday 1pm-4:30pm) e-mail: help@b-eat.co.uk <br>
          Youthline(Under 25 y.o with eating disorders): 08456347650 (Open Mon-Fri 4:30pm-8:30pm, Saturday 1pm-4:30pm) </center></p>
  </body>
</html>
