<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="../extras/stylesheet.css" type="text/css">

    <title></title>
  </head>
  <body>
    <header>
      <div id="logo">
      <img src="../extras/logo.png" height="90" width="90">
      </div>
      <center><h1> Survivin' </h1></center>
        <div class="button" style="width:100%">
        <button style="width:10%">LOG IN  SIGN UP </button>
        </div>

      <nav>
        <center>
          <div class="btn-group" style="width:100%">
          <button style="width:17%"> Home </button>
          <button style="width:17%"> Our Mission </button>
          <button style="width:17%"> Resources </button>
          <button style="width:17%"> Situations </button>
          </div>
          </center>
        <a href="{{url}}">{{ url_text }}</a>
        <a href="/about">About</a>
      </nav>
  </header>
    <!-- <p> {{kind}} </p>
    <p> {{ name }}</p>
    {% for item in items %}
      <p> {{ item }} </p>
    {% endfor %} -->
  </body>
</html>
