<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../assets/stylesheet.css">
    <link rel="stylesheet" href="../assets/homepage.css">

    <title></title>
  </head>
  <body>
    <header>
      <div id="logo">
      <img src="../assets/logo.png" height="90" width="90">
      </div>
      <center><h1> Survivin' </h1></center>
        <div class="button" style="width:100%">
        <button style="width:10%" onclick="location.href='index.html'" type="button">LOG IN  SIGN UP </button>
        </div>

        <nav> <center>
          <div class="btn-group" style="width:100%">
          <button style="width:17%" onclick="location.href='mainpage.html'" type="button"> Home </button>
          <button style="width:17%" onclick="location.href='aboutus.html'" type="button"> Our Mission </button>
          <button style="width:17%" onclick="location.href='resources.html'" type="button"> Resources </button>
          <button style="width:17%" onclick="location.href='situations.html'" type="button"> Situations </button>
          </div>
          </center>

        <!-- <a href="{{url}}">{{ url_text }}</a>
        <a href="/about">About</a> -->
      </nav>
  </header>

  </body>
</html>
