<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <!-- Font-->
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|PT+Sans" rel="stylesheet">
    <!--Linking the html, js, css files-->
    <link rel="stylesheet" href="../assets/stylesheet.css">
    <link rel="form" href="../assets/form.css">
    <link rel="javascript" href="javascript.js">
    <link rel="stylesheet" href="../assets/footer.css">


    <title> Survivin' </title>
  </head>
  <body>

    <header>
      <div id="logo">
      <img src="../assets/LOGO.png" height="90" width="90">
      </div>
      <center><h1> Survivin' </h1></center>
        <div class="button" style="width:100%">
        <!-- <button style="width:10%">LOG IN  SIGN UP </button> -->
        </div>


      <nav> <center>
        <div class="btn-group" style="width:100%">
        <button style="width:17%"> Home </button>
        <button style="width:17%"> Our Mission </button>
        <button style="width:17%"> Resources </button>
        <button style="width:17%"> Situations </button>
        </div>
        </center>

      </nav>
    <!-- make a search bar -->
    <!-- make a log in / sign up thing -->
      </header>

      <form action="/action_page.php" method="get">
      <h4>Login </h4> </br>
      <p5>Email adress: </p5>
      <input type="text" Email adress=""> </br> </br>
      <p6>Password: </p6>
      <input type="password" > </br>
      <p> <font color="black"> <a href="#">Login </a>
      </p> </font>
      </form>


      <div class="footer">
        <p>Privacy Policy  &emsp;  Contact Us &emsp;    Sitemap</p>
      </div>
      
  </body>
</html>
