<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../assets/stylesheet.css">
    <link rel="stylesheet" href="../assets/homepage.css">
    <link rel="stylesheet" href="../assets/situations.css">
    <link rel="stylesheet" href="../assets/footer.css">
    <meta charset="utf-8">
    <title>Being Chased!</title>
    <style>

  p.groove {border-style: groove;}

  #rcorners2 {
    border-radius: 25px;
    border: 5px solid #8A8363;
    padding: 20px;
    width: 700px;
    height: 920px;
  }
    </style>
  </head>
  <body>

    <header>
      <div id="logo">
      <img src="../assets/logo.png" height="90" width="90">
      </div>
      <center><h1> Survivin' </h1></center>
        <div class="button" style="width:100%">
        <!-- <button style="width:10%" onclick="location.href='index.html'" type="button">LOG IN  SIGN UP </button> -->
        </div>
      </header>


      <nav> <center>
        <div class="btn-group" style="width:100%">
        <button style="width:17%" onclick="location.href='/'" type="button"> Home </button>
        <button style="width:17%" onclick="location.href='/aboutus'" type="button"> Our Mission </button>
        <button style="width:17%" onclick="location.href='/resources'" type="button"> Resources </button>
        <button style="width:17%" onclick="location.href='/situations'" type="button"> Situations </button>
        </div>
        </center>
      </nav>

<h6 style="text-align:center;"><font size="15"> YOU'RE BEING CHASED BY AN ANIMAL! AAAH! BUT DON'T PANIC! </h2>

  <center><p id="rcorners2"><font color="#8a8363"><font size="6"> Firstly remain clam! Now depending on the animal you have a few options.
    One option would be play dead. Limit your breathing, remain perfectly still and seemingly lifeless. Another option would be make yourself appear bigger,
    outstretch your arms, stand on tiptoes, ext. This is make you seem like a bigger animal thus making the animal give up the chase. Lastly one option(in my
    honest opinion the best option) would be just to keep running! Run for your life! Keep going until safety is for sure!<br>
    <img src="https://static.fjcdn.com/gifs/That+a+run+for+your+life_66ee2b_4913418.gif" alt="https://static.fjcdn.com/gifs/That+a+run+for+your+life_66ee2b_4913418.gif" width="300" height="300" align="left">
    <img src="https://img.buzzfeed.com/buzzfeed-static/static/2014-08/26/6/tmp/webdr11/anigif_acd46dfa82f05f599db45b289eb7377e-4.gif" alt="https://img.buzzfeed.com/buzzfeed-static/static/2014-08/26/6/tmp/webdr11/anigif_acd46dfa82f05f599db45b289eb7377e-4.gif" width="300" height="300" align="center" </font></center></p>


    <!-- CHAT -->
    <script id="cid0020000194047384808" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 200px;height: 300px;">{"handle":"survivinchat","arch":"js","styles":{"a":"000000","b":69,"c":"FFFFFF","d":"FFFFFF","f":69,"i":69,"k":"000000","l":"000000","m":"000000","n":"FFFFFF","o":69,"p":"10","q":"000000","r":69,"pos":"br","cv":1,"cvfntsz":"20px","cvbg":"000000","cvbga":69,"cvfg":"ffff66","cvw":167,"cvh":42}}</script>

    <div class="footer">
      <p>Privacy Policy  &emsp;  Contact Us &emsp;    Sitemap</p>
    </div>
    
  </body>
</html>
