<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../assets/stylesheet.css">
    <link rel="stylesheet" href="../assets/homepage.css">
    <link rel="stylesheet" href="../assets/situations.css">
    <meta charset="utf-8">
    <script src="Survive"> </script>
    <title> Situations </title>
  </head>

  <body>

    <header>
      <div id="logo">
      <img src="../assets/logo.png" height="90" width="90">
      </div>
      <center><h1> Survivin' </h1></center>
        <div class="button" style="width:100%">
        <button style="width:10%" onclick="location.href='index.html'" type="button">LOG IN  SIGN UP </button>
        </div>
      </header>

      <nav> <center>
        <div class="btn-group" style="width:100%">
        <button style="width:17%" onclick="location.href='/'" type="button"> Home </button>
        <button style="width:17%" href="location.href='/aboutus'" type="button"> Our Mission </button>
        <button style="width:17%" onclick="location.href='/resources'" type="button"> Resources </button>
        <button style="width:17%" onclick="location.href='/situations'" type="button"> Situations </button>
        </div>
        </center>
      </nav>

  <h6 style="text-align:center;"><font size="15"> Life Situations! </h6>

<center><p id="rcorners1" style="text-align:center"><font size="5"><a href="location.href='/situations-respect'"> How to Respect and Gain Respect From Your Parents by Tillie <br></a>
  <img src="https://media2.giphy.com/media/26n6GPlESB1xs4IFy/giphy.gif" alt="https://media2.giphy.com/media/26n6GPlESB1xs4IFy/giphy.gif" width="300" height="260" align="center">
  <img src="https://78.media.tumblr.com/0befebc47b379ec7a6be50b3d6baed1e/tumblr_oxrwzcb9411s60oo7o1_400.gif" alt="https://78.media.tumblr.com/0befebc47b379ec7a6be50b3d6baed1e/tumblr_oxrwzcb9411s60oo7o1_400.gif" width="300" height="260" align="center" </center></p>

<p  id="rcorners2"><font size="5"><a href="situations-awkward.html"> How to Escape Awkward Human Interaction <br> by It's-It <br></a>
    <img src="https://memegenerator.net/img/instances/68206745/yeahhhh-that-was-awkward.jpg" alt="https://memegenerator.net/img/instances/68206745/yeahhhh-that-was-awkward.jpg" width="300" height="250" align="center">
    <img src="https://78.media.tumblr.com/214f0dae6552b911dc546b87c50febbd/tumblr_nlzxw5ygDP1s9362xo1_500.gif" alt="https://78.media.tumblr.com/214f0dae6552b911dc546b87c50febbd/tumblr_nlzxw5ygDP1s9362xo1_500.gif" width="300" height="250" align="center"</p>

<p id="rcorners2" style="text-align:center;"><font size="5"><a href="location.href='/situations-peer'"> What to Do When Your Are Being Peer Pressured <br> by Loni <br></a>
  <img src="https://memeguy.com/photos/images/pear-pressure-46589.jpg" alt="https://memeguy.com/photos/images/pear-pressure-46589.jpg" width="300" height="260" align="center">
  <img src="http://skywritingservice.com/t/swsc/uploads/images/Essay%20On%20Peer%20Pressure.gif" alt="http://skywritingservice.com/t/swsc/uploads/images/Essay%20On%20Peer%20Pressure.gif" width="330" height="260" align="center"</p>

<p id="rcorners2" style="text-align:center;"><font size="5"><a href="location.href='/situations-chased'"> What to Do When You Are Being Chased by an Animal <br> by Alexis <br></a>
  <img src="https://i.ytimg.com/vi/OMeonBRZH7I/maxresdefault.jpg" alt="https://i.ytimg.com/vi/OMeonBRZH7I/maxresdefault.jpg" width="300" height="250" align="center">
  <img src="https://i.ytimg.com/vi/-aW9-wv6gGg/hqdefault.jpg" alt="https://i.ytimg.com/vi/-aW9-wv6gGg/hqdefault.jpg" width="300" height="250" align="center"</p>

<p id="rcorners2" style="text-align:center;"><font size="5"><a href="location.href='/situations-mental'"> Ways to Cope with an Unstable Mental Health <br> by Kelly <br></a>
  <img src="https://financialtribune.com/sites/default/files/field/image/17january/12_mental_2.jpg" alt="https://financialtribune.com/sites/default/files/field/image/17january/12_mental_2.jpg" width="300" height="250" align="center">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJZJvJey1GRdDLSwIqZlDuFRXrCLxTT8u2rkXxA9VaSdZxGrOVwA" alt="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcQJZJvJey1GRdDLSwIqZlDuFRXrCLxTT8u2rkXxA9VaSdZxGrOVwA" width="300" height="250" align="center" </p>

<p id="rcorners2" style="text-align:center;"><font size="5"><a href="location.href='/situations-calm'"> Helpful Tips and Recommendations to Calm Down <br> by Pear <br></a>
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4unAuaRaL_3_xL8a1LUxPtlS-7r3TWC-53pt1ELrBXDxb3XrF" alt="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcR4unAuaRaL_3_xL8a1LUxPtlS-7r3TWC-53pt1ELrBXDxb3XrF" width="300" height="250" align="center">
  <img src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9bnkHxeyRW7sta63m-05cPWP49pfHYMuE63GBbebuoaR0_gm2" alt="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcT9bnkHxeyRW7sta63m-05cPWP49pfHYMuE63GBbebuoaR0_gm2" width="300" height="250" align="center" </p>

  <!-- CHAT -->
  <script id="cid0020000194047384808" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 200px;height: 300px;">{"handle":"survivinchat","arch":"js","styles":{"a":"000000","b":69,"c":"FFFFFF","d":"FFFFFF","f":69,"i":69,"k":"000000","l":"000000","m":"000000","n":"FFFFFF","o":69,"p":"10","q":"000000","r":69,"pos":"br","cv":1,"cvfntsz":"20px","cvbg":"000000","cvbga":69,"cvfg":"ffff66","cvw":167,"cvh":42}}</script>

  </body>
</html>
