<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../assets/stylesheet.css">
    <link rel="stylesheet" href="../assets/homepage.css">
    <link rel="stylesheet" href="../assets/situations.css">
    <link rel="stylesheet" href="../assets/footer.css">

    <meta charset="utf-8">
    <title> Awkward </title>
    <style>

      #rcorners2 {
    border-radius: 25px;
    border: 5px solid #8A8363;
    padding: 20px;
    width: 800px;
    height: 600px;
      }
    </style>
  </head>
  <body>
    <header>
      <div id="logo">
      <img src="../assets/logo.png" height="90" width="90">
      </div>
      <center><h1> Survivin' </h1></center>
        <div class="button" style="width:100%">
        <!-- <button style="width:10%" onclick="location.href='index.html'" type="button">LOG IN  SIGN UP </button> -->
        </div>
    </header>

    <nav> <center>
      <div class="btn-group" style="width:100%">
      <button style="width:17%" onclick="location.href='/'" type="button"> Home </button>
      <button style="width:17%" onclick="location.href='/aboutus'" type="button"> Our Mission </button>
      <button style="width:17%" onclick="location.href='/resources'" type="button"> Resources </button>
      <button style="width:17%" onclick="location.href='/situations'" type="button"> Situations </button>
      </div>
      </center>
    </nav>

<h6 style="text-align:center;font-size=15"> Awkward Situations...They happen more often than we'd like. So how to get fix them? These might.

  <center><p id="rcorners2"><font size="6"> Aw man. Life would be sooo much better without the struggle of awkwardness of human interaction for everyone.
     Unfortunately life is unfair. So we have to rely on sources to<br>
    <img src="https://i.kym-cdn.com/photos/images/newsfeed/000/737/450/665.gif" alt="https://i.kym-cdn.com/photos/images/newsfeed/000/737/450/665.gif" width="350" height="300" align="left">
    <img src="https://i.imgur.com/9xoT6XR.png" alt="https://i.imgur.com/9xoT6XR.png" width="350" height="300" align="center"></font></center></p>

    <!-- CHAT -->

    <script id="cid0020000194047384808" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 200px;height: 300px;">{"handle":"survivinchat","arch":"js","styles":{"a":"000000","b":69,"c":"FFFFFF","d":"FFFFFF","f":69,"i":69,"k":"000000","l":"000000","m":"000000","n":"FFFFFF","o":69,"p":"10","q":"000000","r":69,"pos":"br","cv":1,"cvfntsz":"20px","cvbg":"000000","cvbga":69,"cvfg":"ffff66","cvw":167,"cvh":42}}</script>


    <div class="footer">
      <p>Privacy Policy  &emsp;  Contact Us &emsp;    Sitemap</p>
    </div>
    
  </body>
</html>
