<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300|PT+Sans" rel="stylesheet">
    <link rel="stylesheet" href="../assets/stylesheet.css">
    <link rel="stylesheet" href="../assets/homepage.css">
    <link rel="stylesheet" href="../assets/situations.css">
    <meta charset="utf-8">
    <script src="Survive"> </script>
    <title> Mental Issues </title>
    <style>

  #rcorners2 {
    border-radius: 25px;
    border: 5px solid #8A8363;
    padding: 20px;
    width: 700px;
    height: 1400px;
  }
    </style>
  </head>

  <body>

    <header>
      <div id="logo">
      <img src="../assets/logo.png" height="90" width="90">
      </div>
      <center><h1> Survivin' </h1></center>
        <div class="button" style="width:100%">
        <button style="width:10%" onclick="location.href='index.html'" type="button">LOG IN  SIGN UP </button>
        </div>
      </header>

      <nav> <center>
        <div class="btn-group" style="width:100%">
        <button style="width:17%" onclick="location.href='/'" type="button"> Home </button>
        <button style="width:17%" onclick="location.href='/aboutus'" type="button"> Our Mission </button>
        <button style="width:17%" onclick="location.href='/resources'" type="button"> Resources </button>
        <button style="width:17%" onclick="location.href='/situations'" type="button"> Situations </button>
        </div>
        </center>
      </nav>

  <h6 style="text-align:center;"><font size="15"> Mental Issues </h6>

    <center><p id="rcorners2" id="middle;"><font color="#8a8363"><font size="6"> One main cope is self care. If you take care of yourself, your body could thank you by ease you with good mental health. Somethings to try could be taking one day of the week to just relax and rest yourself.<br>
        For example, perhaps a "Self-Care Sunday" where you sleep a good 8 hours or so, treat yourself and just anything that doesn't stress out your body.<br>
        <img src="https://media.tenor.com/images/0a05c0cbf86977efd5743793e5dc2a47/tenor.gif" alt="https://media.tenor.com/images/0a05c0cbf86977efd5743793e5dc2a47/tenor.gif" width="700" height="300" align="left"> <br>
      Maybe try going outside everyday, even if it's for a little while. Look to yourself for validation. Otherwise you give others control your happiness.
      If life starts to become stressful; remember to stop and just take a moment to yourself, breathe, find your happy/safe space.
      Remember, you are very important and people care. If we didn't care, this website wouldn't exist.
    <img src="https://78.media.tumblr.com/405681682285c10b203c60dc63f4774e/tumblr_p0xmktRbvL1qc4uvwo1_500.gif" alt="https://78.media.tumblr.com/405681682285c10b203c60dc63f4774e/tumblr_p0xmktRbvL1qc4uvwo1_500.gif" width="700" height="420" align="center" </center></p>

    <!-- CHAT -->
    <script id="cid0020000194047384808" data-cfasync="false" async src="//st.chatango.com/js/gz/emb.js" style="width: 200px;height: 300px;">{"handle":"survivinchat","arch":"js","styles":{"a":"000000","b":69,"c":"FFFFFF","d":"FFFFFF","f":69,"i":69,"k":"000000","l":"000000","m":"000000","n":"FFFFFF","o":69,"p":"10","q":"000000","r":69,"pos":"br","cv":1,"cvfntsz":"20px","cvbg":"000000","cvbga":69,"cvfg":"ffff66","cvw":167,"cvh":42}}</script>
  </body>
</html>
