<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title></title>
    <style>
    body{
        background-color: rgb(245, 255, 102);
      }
    h1{
        color: rgb(138, 131, 99);
        font-family: sans-serif
      }
    h2{
        color: rgb(138, 131, 99);
      }
    h3{
        color: rgb(138, 131, 99);
      }
  p.groove {border-style: groove;}
  p.solid {border-style: solid;}

  #rcorners2 {
    border-radius: 25px;
    border: 5px solid #8A8363;
    padding: 20px;
    width: 700px;
    height: 1500px;
}
    </style>
  </head>
  <body>
    <h2 style="text-align:center;"><font size="20"> Your mental health is VERY important. How to cope though? These might help.  </h2>

      <center><p id="rcorners2" id="middle;"><font color="#8a8363"><font size="6"> One main cope is self care. If you take care of yourself, your body could thank you by ease you with good mental health. Somethings to try could be taking one day of the week to just relax and rest yourself.<br>
        For example, perhaps a "Self-Care Sunday" where you sleep a good 8 hours or so, treat yourself and just anything that doesn't stress out your body.<br>
        <img src="https://media.tenor.com/images/0a05c0cbf86977efd5743793e5dc2a47/tenor.gif" alt="https://media.tenor.com/images/0a05c0cbf86977efd5743793e5dc2a47/tenor.gif" width="700" height="300" align="left"> <br>
      Maybe try going outside everyday, even if it's for a little while. Look to yourself for validation. Otherwise you give others control your happiness.
      If life starts to become stressful; remember to stop and just take a moment to yourself, breathe, find your happy/safe space.
      Remember, you are very important and people care. If we didn't care, this website wouldn't exist.
    <img src="https://78.media.tumblr.com/405681682285c10b203c60dc63f4774e/tumblr_p0xmktRbvL1qc4uvwo1_500.gif" alt="https://78.media.tumblr.com/405681682285c10b203c60dc63f4774e/tumblr_p0xmktRbvL1qc4uvwo1_500.gif" width="700" height="420" align="center" </center></p>
  </body>
</html>
