<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="styles.css">
    <title></title>
    <style>
  body{
      background-color: rgb(245, 255, 102);
    }
  h1{
      color: rgb(138, 131, 99);
      font-family: sans-serif
    }
  h2{
      color: rgb(138, 131, 99);
    }
  h3{
      color: rgb(138, 131, 99);
    }
  p.groove {border-style: groove;}

    </style>
  </head>
  <body>
<h1 style="text-align: center;"><font size="22"> Survivin' </h1>
  <h2 style="text-align: center;"><font size="15"> ! US HOTLINES ! <h2>
    <p class="groove" id="middle"><font size="10"> Depression Hotline: 1-630-482-9696 <br>
      Suicide Hotline: 1-800-783-8433 <br>
      Lifeline: 1-800-273-8255 <br>
      Trevor Project: 1-866-488-7386 <br>
      Sexuality Support: 1-800-246-7743 <br>
      Eating Disorders Hotline: 1-847-831-3438 <br>
      Rape and Sexual Assault: 1-800-656-4673 <br>
      Grief Support: 1-650-321-5272 <br>
      Runaway: 1-800-843-5200, 1-800-843-5678, 1-800-621-4000 <br>
      Exhale: After Abortion Hotline/Pro-Voice: 1-866-4394253 <br>
      Child Abuse: 1-800-422-4453 <br>
      Text (in case you aren't up to making a phone call) hotline: 741-741 (Text CONNECT to begin, more info at http://www.crisistextline.org/ ) </p>
  </body>
</html>
